<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Glance - TimeBuddy WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Notification - TimeBuddy WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>TimeBuddy WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>TimeBuddy-Plus.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>TimeBuddy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B78950431AF77E3D00BC95A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B789506C1AF77F3700BC95A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB82B22D1A160C570090524C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB82B2461A160C570090524C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB82B25A1A16203C0090524C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
